[submodule "errorHandling"]
	path = errorHandling
	url = git@github.com:james3494/errorHandling.git
[submodule "validation"]
	path = validation
	url = git@github.com:james3494/validation.git
[submodule "database"]
	path = database
	url = git@github.com:james3494/database.git
